{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/transform-react-jsx",
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
